genie-main/src/xml-config/schemas/genie-datatypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="http://www.genie.ac.uk/schema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.genie.ac.uk/schema" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>
			This schema is a collection of data types for defining a storage schema in an Oracle database to support the GENIE Toolbox.
			The schema includes types for provenance metadata and also type for storage of legacy GENIE configuration metadata.
		</xs:documentation>
	</xs:annotation>
	<xs:complexType name="Experiment">
		<xs:sequence>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="description" type="xs:string"/>
			<xs:element name="coordinator" type="xs:string"/>
			<xs:element name="status"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Simulation">
		<xs:sequence>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="description" type="xs:string"/>
			<xs:element name="total_timesteps" type="xs:int"/>
			<xs:element name="output_period" type="xs:int"/>
			<xs:element name="start_year" type="xs:int"/>
			<xs:element name="start_month" type="xs:int"/>
			<xs:element name="start_day" type="xs:int"/>
			<xs:element name="end_year" type="xs:int"/>
			<xs:element name="end_month" type="xs:int"/>
			<xs:element name="end_day" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Run">
		<xs:sequence>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="handle" type="xs:string"/>
			<xs:element name="status"/>
			<xs:element name="submitting_institution" type="xs:string"/>
			<xs:element name="submit_host" type="xs:string"/>
			<xs:element name="submit_ipaddress" type="xs:string"/>
			<xs:element name="submit_rundir" type="xs:string"/>
			<xs:element name="resource_name" type="xs:string"/>
			<xs:element name="resource_broker" type="xs:string"/>
			<xs:element name="resource_type" type="xs:string"/>
			<xs:element name="remote_user" type="xs:string"/>
			<xs:element name="remote_host" type="xs:string"/>
			<xs:element name="remote_rundir" type="xs:string"/>
			<xs:element name="remote_targetOS" type="xs:string"/>
			<xs:element name="remote_jobManager" type="xs:string"/>
			<xs:element name="walltime_estimate" type="xs:float"/>
			<xs:element name="walltime" type="xs:float"/>
			<xs:element name="timesteps" type="xs:int"/>
			<xs:element name="start_timestamp" type="xs:string"/>
			<xs:element name="end_timestamp" type="xs:string"/>
			<xs:element name="start_timestep" type="xs:int"/>
			<xs:element name="end_timestep" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="File">
		<xs:sequence>
			<xs:element name="GENIE_CVS_tag" type="xs:string"/>
			<xs:element name="type" type="xs:string"/>
			<xs:element name="description" type="xs:string"/>
			<xs:element name="targetArch" type="xs:string"/>
			<xs:element name="targetOS" type="xs:string"/>
			<xs:element name="relativePath" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataFile">
		<xs:sequence>
			<xs:element name="type" type="xs:string"/>
			<xs:element name="description" type="xs:string"/>
			<xs:element name="relativePath" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Result">
		<xs:sequence>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="description" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DerivedResult">
		<xs:sequence>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="description" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Person">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="eMail" type="xs:string"/>
			<xs:element name="telephone" type="xs:string"/>
			<xs:element name="fax" type="xs:string"/>
			<xs:element name="address" type="xs:string"/>
			<xs:element name="URI" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Resource">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="type" type="xs:string"/>
			<xs:element name="broker" type="xs:string"/>
			<xs:element name="RemoteHost" type="xs:string"/>
			<xs:element name="RemoteJobManager" type="xs:string"/>
			<xs:element name="RemoteTargetOS" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="genie_atchem">
		<xs:sequence>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="Comment" type="xs:string"/>
			<xs:element name="Parameter">
				<xs:complexType>
					<xs:choice>
						<xs:element name="ATCHEM_CONTROL" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="in_unif" type="xs:boolean"/>
									<xs:element name="in_co2" type="xs:float"/>
									<xs:element name="in_n2o" type="xs:float"/>
									<xs:element name="in_ch4" type="xs:float"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="INI_ATCHEM_NML" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ac_indir_name" type="xs:string"/>
									<xs:element name="ac_outdir_name" type="xs:string"/>
									<xs:element name="loc_ans" type="xs:string"/>
									<xs:element name="ac_infile_name" type="xs:string"/>
									<xs:element name="ac_outfile_name" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="genie_biogem">
		<xs:sequence>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="Comment" type="xs:string"/>
			<xs:element name="Parameter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="data_input_dir" type="xs:string"/>
						<xs:element name="data_output_dir" type="xs:string"/>
						<xs:element name="restart" type="xs:string"/>
						<xs:element name="TimestepsPerYear" type="xs:int"/>
						<xs:element name="SimulationStartYear" type="xs:float"/>
						<xs:element name="SimulationRunLength" type="xs:float"/>
						<xs:element name="SimulationTimeScaleYBP" type="xs:boolean"/>
						<xs:element name="TerminateGoldsteinAtEndtime" type="xs:boolean"/>
						<xs:element name="netCDF_restart_input" type="xs:string"/>
						<xs:element name="netCDF_restart_output" type="xs:string"/>
						<xs:element name="ascii_restart_output" type="xs:string"/>
						<xs:element name="netCDF_restart_input_file" type="xs:string"/>
						<xs:element name="netCDF_restart_output_dir" type="xs:string"/>
						<xs:element name="NumTracers" type="xs:int"/>
						<xs:element name="RuntimeRoot" type="xs:string"/>
						<xs:element name="INI_BIOGEM_NML" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="bg_indir_name" type="xs:string"/>
									<xs:element name="bg_outdir_name" type="xs:string"/>
									<xs:element name="bg_continuing" type="xs:string"/>
									<xs:element name="par_misc_t_start" type="xs:int"/>
									<xs:element name="par_misc_t_runtime" type="xs:int"/>
									<xs:element name="years_before_present" type="xs:boolean"/>
									<xs:element name="bg_infile_name" type="xs:string"/>
									<xs:element name="bg_outfile_name" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="genie_biogenie">
		<xs:sequence>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="Comment" type="xs:string"/>
			<xs:element name="Parameter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="data_input_dir" type="xs:string"/>
						<xs:element name="data_output_dir" type="xs:string"/>
						<xs:element name="restart" type="xs:string"/>
						<xs:element name="NoDaysPerYear" type="xs:float"/>
						<xs:element name="TimestepsPerYear" type="xs:int"/>
						<xs:element name="netCDF_restart_input" type="xs:string"/>
						<xs:element name="netCDF_restart_output" type="xs:string"/>
						<xs:element name="ascii_restart_output" type="xs:string"/>
						<xs:element name="netCDF_restart_input_file" type="xs:string"/>
						<xs:element name="netCDF_restart_output_dir" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="genie_cgoldstein">
		<xs:sequence>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="Comment" type="xs:string"/>
			<xs:element name="Parameter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nsteps" type="xs:unsignedInt"/>
						<xs:element name="npstp" type="xs:unsignedInt"/>
						<xs:element name="iwstp" type="xs:unsignedInt"/>
						<xs:element name="itstp" type="xs:unsignedInt"/>
						<xs:element name="ianav" type="xs:unsignedInt"/>
						<xs:element name="restart" type="xs:string"/>
						<xs:element name="tv" type="xs:int"/>
						<xs:element name="ndta" type="xs:int"/>
						<xs:element name="temp0" type="xs:float"/>
						<xs:element name="temp1" type="xs:float"/>
						<xs:element name="rel" type="xs:float"/>
						<xs:element name="SclTau" type="xs:float"/>
						<xs:element name="OcnHorizDiff" type="xs:float"/>
						<xs:element name="OcnVertDiff" type="xs:float"/>
						<xs:element name="InvDrag" type="xs:float"/>
						<xs:element name="AtmDiffAmpTu" type="xs:float"/>
						<xs:element name="AtmDiffAmpQu" type="xs:float"/>
						<xs:element name="AtmDiffWidthT" type="xs:float"/>
						<xs:element name="AtmDiffSlopeT" type="xs:float"/>
						<xs:element name="AtmDiffAmpTv" type="xs:float"/>
						<xs:element name="AtmDiffAmpQv" type="xs:float"/>
						<xs:element name="AtmAdvectCoeffTm" type="xs:float"/>
						<xs:element name="AtmAdvectCoeffTz" type="xs:float"/>
						<xs:element name="AtmAdvectCoeffQm" type="xs:float"/>
						<xs:element name="AtmAdvectCoeffQz" type="xs:float"/>
						<xs:element name="SclCO2" type="xs:float"/>
						<xs:element name="PcCO2Rise" type="xs:float"/>
						<xs:element name="SeaiceDiff" type="xs:float"/>
						<xs:element name="tatm" type="xs:float"/>
						<xs:element name="relh0_ocean" type="xs:float"/>
						<xs:element name="relh0_land" type="xs:float"/>
						<xs:element name="extra1a" type="xs:float"/>
						<xs:element name="extra1b" type="xs:float"/>
						<xs:element name="extra1c" type="xs:float"/>
						<xs:element name="OutputFile" type="xs:normalizedString"/>
						<xs:element name="InputFile" type="xs:normalizedString"/>
						<xs:element name="IPCC_co20" type="xs:float"/>
						<xs:element name="IPCC_climate_sensitivity" type="xs:float"/>
						<xs:element name="IPCC_starting_year" type="xs:float"/>
						<xs:element name="IPCC_CO2_scenario_datafile" type="xs:string"/>
						<xs:element name="IPCC_CO2_scenario_datatype" type="xs:short"/>
						<xs:element name="IPCC_CO2_scenario_column" type="xs:short"/>
						<xs:element name="IPCC_output_file" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="genie_embm">
		<xs:sequence>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="Comment" type="xs:string"/>
			<xs:element name="Parameter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="data_input_dir" type="xs:string"/>
						<xs:element name="data_output_dir" type="xs:string"/>
						<xs:element name="grid" type="xs:int"/>
						<xs:element name="topography_file" type="xs:string"/>
						<xs:element name="taux_u_file" type="xs:string"/>
						<xs:element name="tauy_u_file" type="xs:string"/>
						<xs:element name="taux_v_file" type="xs:string"/>
						<xs:element name="tauy_v_file" type="xs:string"/>
						<xs:element name="adv_u_file" type="xs:string"/>
						<xs:element name="adv_v_file" type="xs:string"/>
						<xs:element name="npstp_embm" type="xs:int"/>
						<xs:element name="iwstp" type="xs:int"/>
						<xs:element name="itstp" type="xs:int"/>
						<xs:element name="ianav" type="xs:int"/>
						<xs:element name="restart" type="xs:string"/>
						<xs:element name="NoDaysPerYear" type="xs:float"/>
						<xs:element name="TimestepsPerYear" type="xs:int"/>
						<xs:element name="AOdtRatio" type="xs:float"/>
						<xs:element name="SclTau" type="xs:float"/>
						<xs:element name="AtmDiffAmpT" type="xs:float"/>
						<xs:element name="AtmDiffAmpQ" type="xs:float"/>
						<xs:element name="AtmDiffWidthT" type="xs:float"/>
						<xs:element name="AtmDiffSlopeT" type="xs:float"/>
						<xs:element name="AtmAdvectCoeffTm" type="xs:float"/>
						<xs:element name="AtmAdvectCoeffTz" type="xs:float"/>
						<xs:element name="AtmAdvectCoeffQm" type="xs:float"/>
						<xs:element name="AtmAdvectCoeffQz" type="xs:float"/>
						<xs:element name="SclCO2" type="xs:float"/>
						<xs:element name="PcCO2Rise" type="xs:float"/>
						<xs:element name="tatm" type="xs:float"/>
						<xs:element name="relh0_ocean" type="xs:float"/>
						<xs:element name="relh0_land" type="xs:float"/>
						<xs:element name="extra1a" type="xs:float"/>
						<xs:element name="extra1b" type="xs:float"/>
						<xs:element name="extra1c" type="xs:float"/>
						<xs:element name="SclFWF" type="xs:float"/>
						<xs:element name="z1_embm" type="xs:float"/>
						<xs:element name="Tdata_file" type="xs:string"/>
						<xs:element name="Hdata_file" type="xs:string"/>
						<xs:element name="OutputFile" type="xs:string"/>
						<xs:element name="netCDF_restart_input" type="xs:string"/>
						<xs:element name="netCDF_restart_output" type="xs:string"/>
						<xs:element name="ascii_restart_output" type="xs:string"/>
						<xs:element name="netCDF_restart_input_file" type="xs:string"/>
						<xs:element name="netCDF_restart_output_dir" type="xs:string"/>
						<xs:element name="ascii_restart_file" type="xs:string"/>
						<xs:element name="INI_EMBM_NML" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="indir_name" type="xs:string"/>
									<xs:element name="outdir_name" type="xs:string"/>
									<xs:element name="igrid" type="xs:int"/>
									<xs:element name="world" type="xs:string"/>
									<xs:element name="xu_wstress" type="xs:string"/>
									<xs:element name="yu_wstress" type="xs:string"/>
									<xs:element name="xv_wstress" type="xs:string"/>
									<xs:element name="yv_wstress" type="xs:string"/>
									<xs:element name="u_wspeed" type="xs:string"/>
									<xs:element name="v_wspeed" type="xs:string"/>
									<xs:element name="npstp" type="xs:int"/>
									<xs:element name="iwstp" type="xs:int"/>
									<xs:element name="itstp" type="xs:int"/>
									<xs:element name="ianav" type="xs:int"/>
									<xs:element name="ans" type="xs:string"/>
									<xs:element name="yearlen" type="xs:float"/>
									<xs:element name="nyear" type="xs:int"/>
									<xs:element name="ndta" type="xs:int"/>
									<xs:element name="scf" type="xs:float"/>
									<xs:element name="diffamp__1__" type="xs:float"/>
									<xs:element name="diffamp__2__" type="xs:float"/>
									<xs:element name="diffwid" type="xs:float"/>
									<xs:element name="difflin" type="xs:float"/>
									<xs:element name="betaz__1__" type="xs:float"/>
									<xs:element name="betam__1__" type="xs:float"/>
									<xs:element name="betaz__2__" type="xs:float"/>
									<xs:element name="betam__2__" type="xs:float"/>
									<xs:element name="scl_co2" type="xs:float"/>
									<xs:element name="pc_co2_rise" type="xs:float"/>
									<xs:element name="tatm" type="xs:float"/>
									<xs:element name="relh0_ocean" type="xs:float"/>
									<xs:element name="relh0_land" type="xs:float"/>
									<xs:element name="extra1a" type="xs:float"/>
									<xs:element name="extra1b" type="xs:float"/>
									<xs:element name="extra1c" type="xs:float"/>
									<xs:element name="scl_fwf" type="xs:float"/>
									<xs:element name="z1_embm" type="xs:float"/>
									<xs:element name="tdatafile" type="xs:string"/>
									<xs:element name="qdatafile" type="xs:string"/>
									<xs:element name="lout" type="xs:string"/>
									<xs:element name="netin" type="xs:string"/>
									<xs:element name="netout" type="xs:string"/>
									<xs:element name="ascout" type="xs:string"/>
									<xs:element name="filenetin" type="xs:string"/>
									<xs:element name="dirnetout" type="xs:string"/>
									<xs:element name="lin" type="xs:string"/>
									<xs:element name="atchem_radfor" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="genie_fixedatmos">
		<xs:sequence>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="Comment" type="xs:string"/>
			<xs:element name="Parameter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FIXEDATMOS_CONTROL">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="fname_climate" type="xs:string"/>
									<xs:element name="fname_restart_fixedatmos" type="xs:string"/>
									<xs:element name="fname_climate_xtra" type="xs:string"/>
									<xs:element name="timestep" type="xs:int"/>
									<xs:element name="output_time" type="xs:short"/>
									<xs:element name="outputdir_name" type="xs:string"/>
									<xs:element name="dt_restart_fixedatmos" type="xs:short"/>
									<xs:element name="grid_type" type="xs:boolean"/>
									<xs:element name="fix_energy_flag" type="xs:boolean"/>
									<xs:element name="fix_water_flag" type="xs:boolean"/>
									<xs:element name="netsolar_fix" type="xs:decimal"/>
									<xs:element name="precip_fix" type="xs:decimal"/>
									<xs:element name="tstar_flag" type="xs:boolean"/>
									<xs:element name="precip_flag" type="xs:boolean"/>
									<xs:element name="latent_flag" type="xs:boolean"/>
									<xs:element name="sensible_flag" type="xs:boolean"/>
									<xs:element name="netsolar_flag" type="xs:boolean"/>
									<xs:element name="netlong_flag" type="xs:boolean"/>
									<xs:element name="stressx_flag" type="xs:boolean"/>
									<xs:element name="stressy_flag" type="xs:boolean"/>
									<xs:element name="runoff_flag" type="xs:boolean"/>
									<xs:element name="evap_flag" type="xs:boolean"/>
									<xs:element name="conductflux_flag" type="xs:boolean"/>
									<xs:element name="waterflux_flag" type="xs:boolean"/>
									<xs:element name="tair2m_flag" type="xs:boolean"/>
									<xs:element name="qair2m_flag" type="xs:boolean"/>
									<xs:element name="windu10m_flag" type="xs:boolean"/>
									<xs:element name="windv10m_flag" type="xs:boolean"/>
									<xs:element name="pstar_flag" type="xs:boolean"/>
									<xs:element name="orog_flag" type="xs:boolean"/>
									<xs:element name="landmask_flag" type="xs:boolean"/>
									<xs:element name="z1_fixedatmos" type="xs:float"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="genie_fixedchem">
		<xs:sequence>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="Comment" type="xs:string"/>
			<xs:element name="Parameter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FIXEDCHEM_CONTROL">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="fname_restart_fixedchem" type="xs:string"/>
									<xs:element name="fname_gases_fixedchem" type="xs:string"/>
									<xs:element name="outputdir_name" type="xs:string"/>
									<xs:element name="dt_restart_fixedchem" type="xs:int"/>
									<xs:element name="fixed_gases" type="xs:boolean"/>
									<xs:element name="co2_fix" type="xs:float"/>
									<xs:element name="n2o_fix" type="xs:float"/>
									<xs:element name="ch4_fix" type="xs:float"/>
									<xs:element name="dt_vals" type="xs:int"/>
									<xs:element name="iniday" type="xs:int"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="genie_fixedicesheet">
		<xs:sequence>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="Comment" type="xs:string"/>
			<xs:element name="Parameter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FIXEDICESHEET_CONTROL">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="fname_orog" type="xs:string"/>
									<xs:element name="fname_icefrac" type="xs:string"/>
									<xs:element name="fname_iland" type="xs:string"/>
									<xs:element name="fname_restart_fixedicesheet" type="xs:string"/>
									<xs:element name="outputdir_name" type="xs:string"/>
									<xs:element name="dt_restart_fixedicesheet" type="xs:int"/>
									<xs:element name="albedo_icesheet" type="xs:float"/>
									<xs:element name="fixed_orog" type="xs:boolean"/>
									<xs:element name="fixed_icefrac" type="xs:boolean"/>
									<xs:element name="dt_vals" type="xs:int"/>
									<xs:element name="iniday" type="xs:int"/>
									<xs:element name="timestep" type="xs:int"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="genie_fixedocean">
		<xs:sequence>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="Comment" type="xs:string"/>
			<xs:element name="Parameter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FIXEDOCEAN_CONTROL">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="fname_sstetc" type="xs:string"/>
									<xs:element name="fname_restart_fixedocean" type="xs:string"/>
									<xs:element name="outputdir_name" type="xs:string"/>
									<xs:element name="dt_restart_fixedocean" type="xs:int"/>
									<xs:element name="albedo_ocean" type="xs:float"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="genie_fixedseaice">
		<xs:sequence>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="Comment" type="xs:string"/>
			<xs:element name="Parameter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FIXEDSEAICE_CONTROL">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="fname_sstetc" type="xs:string"/>
									<xs:element name="fname_restart_fixedseaice" type="xs:string"/>
									<xs:element name="outputdir_name" type="xs:string"/>
									<xs:element name="dt_restart_fixedseaice" type="xs:int"/>
									<xs:element name="albedo_seaice" type="xs:float"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="genie_gem">
		<xs:sequence>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="Comment" type="xs:string"/>
			<xs:element name="Parameter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="INI_GEM_NML">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="gem_indir_name" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="genie_goldstein">
		<xs:sequence>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="Comment" type="xs:string"/>
			<xs:element name="Parameter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="data_input_dir" type="xs:string"/>
						<xs:element name="data_output_dir" type="xs:string"/>
						<xs:element name="grid" type="xs:int"/>
						<xs:element name="topography_file" type="xs:string"/>
						<xs:element name="npstp_goldstein" type="xs:int"/>
						<xs:element name="iwstp" type="xs:int"/>
						<xs:element name="itstp" type="xs:int"/>
						<xs:element name="ianav" type="xs:int"/>
						<xs:element name="conserv_per" type="xs:float"/>
						<xs:element name="restart" type="xs:string"/>
						<xs:element name="NoDaysPerYear" type="xs:float"/>
						<xs:element name="TimestepsPerYear" type="xs:int"/>
						<xs:element name="temp0" type="xs:float"/>
						<xs:element name="temp1" type="xs:float"/>
						<xs:element name="rel" type="xs:float"/>
						<xs:element name="SclTau" type="xs:float"/>
						<xs:element name="OcnHorizDiff" type="xs:float"/>
						<xs:element name="OcnVertDiff" type="xs:float"/>
						<xs:element name="InvDrag" type="xs:float"/>
						<xs:element name="hosing" type="xs:float"/>
						<xs:element name="hosing_trend" type="xs:float"/>
						<xs:element name="nyears_hosing" type="xs:int"/>
						<xs:element name="fwanom" type="xs:string"/>
						<xs:element name="fwanom_file" type="xs:string"/>
						<xs:element name="ocn_albedo" type="xs:float"/>
						<xs:element name="gust" type="xs:float"/>
						<xs:element name="ene_tune" type="xs:float"/>
						<xs:element name="ocnconv" type="xs:int"/>
						<xs:element name="Tdata_file" type="xs:string"/>
						<xs:element name="Sdata_file" type="xs:string"/>
						<xs:element name="OutputFile" type="xs:string"/>
						<xs:element name="netCDF_restart_input" type="xs:string"/>
						<xs:element name="netCDF_restart_output" type="xs:string"/>
						<xs:element name="ascii_restart_output" type="xs:string"/>
						<xs:element name="netCDF_restart_input_file" type="xs:string"/>
						<xs:element name="netCDF_restart_output_dir" type="xs:string"/>
						<xs:element name="ascii_restart_file" type="xs:string"/>
						<xs:element name="INI_GOLD_NML" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="indir_name" type="xs:string"/>
									<xs:element name="outdir_name" type="xs:string"/>
									<xs:element name="igrid" type="xs:int"/>
									<xs:element name="world" type="xs:string"/>
									<xs:element name="npstp" type="xs:int"/>
									<xs:element name="iwstp" type="xs:int"/>
									<xs:element name="itstp" type="xs:int"/>
									<xs:element name="ianav" type="xs:int"/>
									<xs:element name="conserv_per" type="xs:int"/>
									<xs:element name="ans" type="xs:string"/>
									<xs:element name="yearlen" type="xs:float"/>
									<xs:element name="nyear" type="xs:int"/>
									<xs:element name="temp0" type="xs:float"/>
									<xs:element name="temp1" type="xs:float"/>
									<xs:element name="rel" type="xs:float"/>
									<xs:element name="scf" type="xs:float"/>
									<xs:element name="diff__1__" type="xs:float"/>
									<xs:element name="diff__2__" type="xs:float"/>
									<xs:element name="adrag" type="xs:float"/>
									<xs:element name="hosing" type="xs:float"/>
									<xs:element name="hosing_trend" type="xs:float"/>
									<xs:element name="nyears_hosing" type="xs:int"/>
									<xs:element name="fwanomin" type="xs:string"/>
									<xs:element name="cmip_model" type="xs:string"/>
									<xs:element name="albocn" type="xs:float"/>
									<xs:element name="gust" type="xs:float"/>
									<xs:element name="ene_tune" type="xs:float"/>
									<xs:element name="iconv" type="xs:int"/>
									<xs:element name="tdatafile" type="xs:string"/>
									<xs:element name="sdatafile" type="xs:string"/>
									<xs:element name="lout" type="xs:string"/>
									<xs:element name="netin" type="xs:string"/>
									<xs:element name="netout" type="xs:string"/>
									<xs:element name="ascout" type="xs:string"/>
									<xs:element name="filenetin" type="xs:string"/>
									<xs:element name="dirnetout" type="xs:string"/>
									<xs:element name="lin" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="genie_icesheet">
		<xs:sequence>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="Comment" type="xs:string"/>
			<xs:element name="Parameter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="grid">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ewn" type="xs:int"/>
									<xs:element name="nsn" type="xs:int"/>
									<xs:element name="upn" type="xs:int"/>
									<xs:element name="dew" type="xs:double"/>
									<xs:element name="dns" type="xs:double"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="sigma">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="sigma_levels" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="time">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="dt" type="xs:double"/>
									<xs:element name="ntem" type="xs:float"/>
									<xs:element name="nvel" type="xs:float"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="options">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="temperature" type="xs:int"/>
									<xs:element name="flow_law" type="xs:int"/>
									<xs:element name="sliding_law" type="xs:int"/>
									<xs:element name="basal_water" type="xs:int"/>
									<xs:element name="marine_margin" type="xs:int"/>
									<xs:element name="slip_coeff" type="xs:int"/>
									<xs:element name="stress_calc" type="xs:int"/>
									<xs:element name="evolution" type="xs:int"/>
									<xs:element name="vertical_integration" type="xs:int"/>
									<xs:element name="topo_is_relaxed" type="xs:int"/>
									<xs:element name="hotstart" type="xs:int"/>
									<xs:element name="periodic_ew" type="xs:int"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="parameters">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="log_level" type="xs:int"/>
									<xs:element name="ice_limit" type="xs:double"/>
									<xs:element name="marine_limit" type="xs:double"/>
									<xs:element name="geothermal" type="xs:double"/>
									<xs:element name="flow_factor" type="xs:double"/>
									<xs:element name="hydro_time" type="xs:double"/>
									<xs:element name="basal_tract" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="GLINT_climate">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="precip_mode" type="xs:int"/>
									<xs:element name="acab_mode" type="xs:int"/>
									<xs:element name="ice_albedo" type="xs:float"/>
									<xs:element name="lapse_rate" type="xs:float"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="GLINT_projection">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="projection" type="xs:int"/>
									<xs:element name="cpx" type="xs:float"/>
									<xs:element name="cpy" type="xs:float"/>
									<xs:element name="latc" type="xs:float"/>
									<xs:element name="lonc" type="xs:float"/>
									<xs:element name="std_parallel" type="xs:float"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="GLIMMER_daily_pdd">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="wmax" type="xs:float"/>
									<xs:element name="pddfac_ice" type="xs:float"/>
									<xs:element name="pddfac_snow" type="xs:float"/>
									<xs:element name="rain_threshold" type="xs:float"/>
									<xs:element name="whichrain" type="xs:int"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="GLIMMER_annual_pdd">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="dx" type="xs:int"/>
									<xs:element name="dy" type="xs:int"/>
									<xs:element name="ix" type="xs:int"/>
									<xs:element name="iy" type="xs:int"/>
									<xs:element name="nx" type="xs:int"/>
									<xs:element name="ny" type="xs:int"/>
									<xs:element name="wmax" type="xs:float"/>
									<xs:element name="pddfac_ice" type="xs:double"/>
									<xs:element name="pddfac_snow" type="xs:double"/>
									<xs:element name="dd_sigma" type="xs:float"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="CF_default">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="title" type="xs:string"/>
									<xs:element name="institution" type="xs:string"/>
									<xs:element name="references" type="xs:string"/>
									<xs:element name="comment" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="CF_output">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="name" type="xs:string"/>
									<xs:element name="frequency" type="xs:int"/>
									<xs:element name="variables" type="xs:string"/>
									<xs:element name="numspot" type="xs:int"/>
									<xs:element name="spotx" type="xs:string"/>
									<xs:element name="spoty" type="xs:string"/>
									<xs:element name="comment" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="CF_input">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="name" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="genie_ichem">
		<xs:sequence>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="Comment" type="xs:string"/>
			<xs:element name="Parameter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="outputdir_name" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="genie_igcm3">
		<xs:sequence>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="Comment" type="xs:string"/>
			<xs:element name="Parameter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="INILSURF">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="flag_checkwater_land" type="xs:boolean"/>
									<xs:element name="albedo_fix" type="xs:float"/>
									<xs:element name="snolook__1__" type="xs:float"/>
									<xs:element name="snolook__2__" type="xs:float"/>
									<xs:element name="snolook__3__" type="xs:float"/>
									<xs:element name="snolook__4__" type="xs:float"/>
									<xs:element name="snolook__5__" type="xs:float"/>
									<xs:element name="snolook__6__" type="xs:float"/>
									<xs:element name="snolook__7__" type="xs:float"/>
									<xs:element name="snolook__8__" type="xs:float"/>
									<xs:element name="snolook__9__" type="xs:float"/>
									<xs:element name="snolook__10__" type="xs:float"/>
									<xs:element name="snolook__11__" type="xs:float"/>
									<xs:element name="snolook__12__" type="xs:float"/>
									<xs:element name="snolook__13__" type="xs:float"/>
									<xs:element name="snolook__14__" type="xs:float"/>
									<xs:element name="snolook__15__" type="xs:float"/>
									<xs:element name="snolook__16__" type="xs:float"/>
									<xs:element name="snolook__17__" type="xs:float"/>
									<xs:element name="snolook__18__" type="xs:float"/>
									<xs:element name="snolook__19__" type="xs:float"/>
									<xs:element name="snolook__20__" type="xs:float"/>
									<xs:element name="snolook__21__" type="xs:float"/>
									<xs:element name="snolook__22__" type="xs:float"/>
									<xs:element name="snolook__23__" type="xs:float"/>
									<xs:element name="snolook__24__" type="xs:float"/>
									<xs:element name="szlook__1__" type="xs:float"/>
									<xs:element name="szlook__2__" type="xs:float"/>
									<xs:element name="szlook__3__" type="xs:float"/>
									<xs:element name="szlook__4__" type="xs:float"/>
									<xs:element name="szlook__5__" type="xs:float"/>
									<xs:element name="szlook__6__" type="xs:float"/>
									<xs:element name="szlook__7__" type="xs:float"/>
									<xs:element name="szlook__8__" type="xs:float"/>
									<xs:element name="szlook__9__" type="xs:float"/>
									<xs:element name="szlook__10__" type="xs:float"/>
									<xs:element name="szlook__11__" type="xs:float"/>
									<xs:element name="szlook__12__" type="xs:float"/>
									<xs:element name="szlook__13__" type="xs:float"/>
									<xs:element name="szlook__14__" type="xs:float"/>
									<xs:element name="szlook__15__" type="xs:float"/>
									<xs:element name="szlook__16__" type="xs:float"/>
									<xs:element name="szlook__17__" type="xs:float"/>
									<xs:element name="szlook__18__" type="xs:float"/>
									<xs:element name="szlook__19__" type="xs:float"/>
									<xs:element name="szlook__20__" type="xs:float"/>
									<xs:element name="szlook__21__" type="xs:float"/>
									<xs:element name="szlook__22__" type="xs:float"/>
									<xs:element name="szlook__23__" type="xs:float"/>
									<xs:element name="szlook__24__" type="xs:float"/>
									<xs:element name="salook__1__" type="xs:float"/>
									<xs:element name="salook__2__" type="xs:float"/>
									<xs:element name="salook__3__" type="xs:float"/>
									<xs:element name="salook__4__" type="xs:float"/>
									<xs:element name="salook__5__" type="xs:float"/>
									<xs:element name="salook__6__" type="xs:float"/>
									<xs:element name="salook__7__" type="xs:float"/>
									<xs:element name="salook__8__" type="xs:float"/>
									<xs:element name="salook__9__" type="xs:float"/>
									<xs:element name="salook__10__" type="xs:float"/>
									<xs:element name="salook__11__" type="xs:float"/>
									<xs:element name="salook__12__" type="xs:float"/>
									<xs:element name="salook__13__" type="xs:float"/>
									<xs:element name="salook__14__" type="xs:float"/>
									<xs:element name="salook__15__" type="xs:float"/>
									<xs:element name="salook__16__" type="xs:float"/>
									<xs:element name="salook__17__" type="xs:float"/>
									<xs:element name="salook__18__" type="xs:float"/>
									<xs:element name="salook__19__" type="xs:float"/>
									<xs:element name="salook__20__" type="xs:float"/>
									<xs:element name="salook__21__" type="xs:float"/>
									<xs:element name="salook__22__" type="xs:float"/>
									<xs:element name="salook__23__" type="xs:float"/>
									<xs:element name="salook__24__" type="xs:float"/>
									<xs:element name="snowalbfix" type="xs:float"/>
									<xs:element name="shsstar" type="xs:float"/>
									<xs:element name="outputdir_name_igcmlandsurf" type="xs:string"/>
									<xs:element name="dt_restart_igcmlandsurf" type="xs:int"/>
									<xs:element name="fname_restart_igcmlandsurf" type="xs:string"/>
									<xs:element name="outputdir_name_igcmoceansurf" type="xs:string"/>
									<xs:element name="dt_restart_igcmoceansurf" type="xs:int"/>
									<xs:element name="fname_restart_igcmoceansurf" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="INIFLUX">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="blvad" type="xs:float"/>
									<xs:element name="fluxfactor" type="xs:float"/>
									<xs:element name="enhancestable" type="xs:float"/>
									<xs:element name="enhancelim" type="xs:float"/>
									<xs:element name="blrh" type="xs:float"/>
									<xs:element name="txblcnst" type="xs:float"/>
									<xs:element name="tyblcnst" type="xs:float"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="INIROUGH">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="rough_ocean" type="xs:float"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="INPPL"/>
						<xs:element name="INPRN">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="KRUN" type="xs:int"/>
									<xs:element name="BEGDAY" type="xs:float"/>
									<xs:element name="KITS" type="xs:int"/>
									<xs:element name="TSPD" type="xs:int"/>
									<xs:element name="PNU" type="xs:float"/>
									<xs:element name="TDISS" type="xs:float"/>
									<xs:element name="NDEL" type="xs:int"/>
									<xs:element name="LFLUX" type="xs:boolean"/>
									<xs:element name="LSTRETCH" type="xs:boolean"/>
									<xs:element name="L22L" type="xs:boolean"/>
									<xs:element name="LCLIM" type="xs:boolean"/>
									<xs:element name="LPERPET" type="xs:boolean"/>
									<xs:element name="LOROG" type="xs:boolean"/>
									<xs:element name="LSHORT" type="xs:boolean"/>
									<xs:element name="LTVEC" type="xs:boolean"/>
									<xs:element name="LBALAN" type="xs:boolean"/>
									<xs:element name="LRSTRT" type="xs:boolean"/>
									<xs:element name="LRESTIJ" type="xs:boolean"/>
									<xs:element name="LNOISE" type="xs:boolean"/>
									<xs:element name="LMASCOR" type="xs:boolean"/>
									<xs:element name="LMASPRT" type="xs:boolean"/>
									<xs:element name="lcheckwater" type="xs:boolean"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="INPOP">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="RNTAPE" type="xs:float"/>
									<xs:element name="KOUNTH" type="xs:int"/>
									<xs:element name="KOUNTR" type="xs:int"/>
									<xs:element name="KOUNTE" type="xs:int"/>
									<xs:element name="NTRACO" type="xs:int"/>
									<xs:element name="RNTAPO" type="xs:float"/>
									<xs:element name="ldaily" type="xs:boolean"/>
									<xs:element name="lmonthly" type="xs:boolean"/>
									<xs:element name="lannual" type="xs:boolean"/>
									<xs:element name="ldecadal" type="xs:boolean"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="FILES">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="outputdir_name" type="xs:string"/>
									<xs:element name="fname_spectral" type="xs:string"/>
									<xs:element name="fname_gridpt" type="xs:string"/>
									<xs:element name="fname_vegetation" type="xs:string"/>
									<xs:element name="fname_runoff" type="xs:string"/>
									<xs:element name="fname_orog_spec" type="xs:string"/>
									<xs:element name="fname_orog_grid" type="xs:string"/>
									<xs:element name="fname_landmask" type="xs:string"/>
									<xs:element name="fname_ozone" type="xs:string"/>
									<xs:element name="fname_watervapour" type="xs:string"/>
									<xs:element name="fname_sstetc" type="xs:string"/>
									<xs:element name="fname_gastabl" type="xs:string"/>
									<xs:element name="fname_gastabn" type="xs:string"/>
									<xs:element name="fname_plfunc" type="xs:string"/>
									<xs:element name="fname_waterlines" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="INPHYS">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="lcr" type="xs:boolean"/>
									<xs:element name="lcr_tiedtke" type="xs:boolean"/>
									<xs:element name="LLR" type="xs:boolean"/>
									<xs:element name="LCUBM" type="xs:boolean"/>
									<xs:element name="LCBADJ" type="xs:boolean"/>
									<xs:element name="LRD" type="xs:boolean"/>
									<xs:element name="LVD" type="xs:boolean"/>
									<xs:element name="LNOICE" type="xs:boolean"/>
									<xs:element name="LOLDBL" type="xs:boolean"/>
									<xs:element name="LNNSK" type="xs:boolean"/>
									<xs:element name="LCOND" type="xs:boolean"/>
									<xs:element name="cbadjt" type="xs:float"/>
									<xs:element name="cubmt" type="xs:float"/>
									<xs:element name="akqv" type="xs:float"/>
									<xs:element name="itsll" type="xs:int"/>
									<xs:element name="itslo" type="xs:int"/>
									<xs:element name="lownprecip" type="xs:boolean"/>
									<xs:element name="psmin" type="xs:float"/>
									<xs:element name="trcnv" type="xs:float"/>
									<xs:element name="rhbl" type="xs:float"/>
									<xs:element name="rhil" type="xs:float"/>
									<xs:element name="entmax" type="xs:float"/>
									<xs:element name="smf" type="xs:float"/>
									<xs:element name="trshc" type="xs:float"/>
									<xs:element name="trvdi" type="xs:float"/>
									<xs:element name="trvds" type="xs:float"/>
									<xs:element name="redshc" type="xs:float"/>
									<xs:element name="rhgrad" type="xs:float"/>
									<xs:element name="segrad" type="xs:float"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="INIVDIFF">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="increaseu" type="xs:float"/>
									<xs:element name="increaseq" type="xs:float"/>
									<xs:element name="increaset" type="xs:float"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="INICLOUD">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="pcloudfact" type="xs:float"/>
									<xs:element name="pcloudmin" type="xs:float"/>
									<xs:element name="cloudshallow" type="xs:float"/>
									<xs:element name="humcloudmin" type="xs:float"/>
									<xs:element name="humcloudmax" type="xs:float"/>
									<xs:element name="powercloud" type="xs:float"/>
									<xs:element name="cloudhfact" type="xs:float"/>
									<xs:element name="cloudmfact" type="xs:float"/>
									<xs:element name="cloudlfact" type="xs:float"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="INIRADN">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="zradef" type="xs:float"/>
									<xs:element name="supersatlarg" type="xs:float"/>
									<xs:element name="supersatconv" type="xs:float"/>
									<xs:element name="cloudconvnorm" type="xs:float"/>
									<xs:element name="cloudconvbase" type="xs:float"/>
									<xs:element name="emissconsta" type="xs:float"/>
									<xs:element name="emissconstb" type="xs:float"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="INIORBIT">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="p_zecc" type="xs:float"/>
									<xs:element name="p_zobl" type="xs:float"/>
									<xs:element name="p_zw" type="xs:float"/>
									<xs:element name="p_zproff" type="xs:float"/>
									<xs:element name="exact_orbit" type="xs:boolean"/>
									<xs:element name="vary_exact_orbit" type="xs:boolean"/>
									<xs:element name="dt_vals" type="xs:int"/>
									<xs:element name="iniday" type="xs:float"/>
									<xs:element name="fname_orbit_igcm" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ININLEVS">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="difusestrength" type="xs:float"/>
									<xs:element name="coldstart" type="xs:boolean"/>
									<xs:element name="lcalc_blayer_vals" type="xs:boolean"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="INIBUTTERFLY">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="lbutterfly" type="xs:boolean"/>
									<xs:element name="butterfly_u" type="xs:float"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="INIVARALB">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="lvar_albedo" type="xs:boolean"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="INIFLUXADJUST">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="water_transport__1__" type="xs:float"/>
									<xs:element name="water_transport__2__" type="xs:float"/>
									<xs:element name="water_transport__3__" type="xs:float"/>
									<xs:element name="lfluxadjust_water" type="xs:boolean"/>
									<xs:element name="fname_fluxadjust" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="INIT42">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="tempzero" type="xs:float"/>
									<xs:element name="coldstart_grid" type="xs:boolean"/>
									<xs:element name="coldstart_gmsp" type="xs:boolean"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="INPRS"/>
						<xs:element name="INPRSIJ"/>
						<xs:element name="INPBL">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="KBAL" type="xs:int"/>
									<xs:element name="LTBAL" type="xs:boolean"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="INQ">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="LRH" type="xs:boolean"/>
									<xs:element name="LNSURF" type="xs:boolean"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="INRADLW">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="LLBLM" type="xs:boolean"/>
									<xs:element name="GAS__1__" type="xs:int"/>
									<xs:element name="GAS__2__" type="xs:int"/>
									<xs:element name="GAS__3__" type="xs:int"/>
									<xs:element name="GAS__4__" type="xs:int"/>
									<xs:element name="GAS__5__" type="xs:int"/>
									<xs:element name="GAS__6__" type="xs:int"/>
									<xs:element name="GAS__7__" type="xs:int"/>
									<xs:element name="GAS__8__" type="xs:int"/>
									<xs:element name="VMRCO2" type="xs:float"/>
									<xs:element name="VMRCH4" type="xs:float"/>
									<xs:element name="VMRN2O" type="xs:float"/>
									<xs:element name="VMRHALO" type="xs:float"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="genie_land">
		<xs:sequence>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="Comment" type="xs:string"/>
			<xs:element name="Parameter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GENIELAND_CONTROL">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="init_doy_angle" type="xs:float"/>
									<xs:element name="dayinyear_land" type="xs:float"/>
									<xs:element name="idiag_land" type="xs:int"/>
									<xs:element name="irest_land" type="xs:int"/>
									<xs:element name="iacc_land" type="xs:int"/>
									<xs:element name="l_trif_on" type="xs:boolean"/>
									<xs:element name="l_phen_on" type="xs:boolean"/>
									<xs:element name="l_equil_on" type="xs:boolean"/>
									<xs:element name="itrif_land" type="xs:int"/>
									<xs:element name="iphen_land" type="xs:int"/>
									<xs:element name="l_restart" type="xs:boolean"/>
									<xs:element name="c_restart" type="xs:string"/>
									<xs:element name="c_runoff_fl" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="GENIELAND_TUNABLE">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="albsnf_nvg__1__" type="xs:float"/>
									<xs:element name="albsnf_nvg__2__" type="xs:float"/>
									<xs:element name="albsnf_max__1__" type="xs:float"/>
									<xs:element name="albsnf_max__2__" type="xs:float"/>
									<xs:element name="albsnf_max__3__" type="xs:float"/>
									<xs:element name="albsnf_max__4__" type="xs:float"/>
									<xs:element name="albsnf_max__5__" type="xs:float"/>
									<xs:element name="hcon_nvg__1__" type="xs:float"/>
									<xs:element name="hcon_nvg__2__" type="xs:float"/>
									<xs:element name="hcap_nvg__1__" type="xs:float"/>
									<xs:element name="hcap_nvg__2__" type="xs:float"/>
									<xs:element name="hcap_veg" type="xs:float"/>
									<xs:element name="msat" type="xs:float"/>
									<xs:element name="snow_thresh" type="xs:float"/>
									<xs:element name="kaps" type="xs:float"/>
									<xs:element name="q10" type="xs:float"/>
									<xs:element name="ene_tune" type="xs:float"/>
									<xs:element name="str_tune" type="xs:float"/>
									<xs:element name="alb_tune" type="xs:float"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="genie_main">
		<xs:sequence>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="Comment" type="xs:string"/>
			<xs:element name="Parameter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GENIE_CONTROL_NML">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="koverall_total" type="xs:int"/>
									<xs:element name="katm_loop" type="xs:int"/>
									<xs:element name="ksic_loop" type="xs:int"/>
									<xs:element name="kocn_loop" type="xs:int"/>
									<xs:element name="katmos_int" type="xs:int"/>
									<xs:element name="kicesheet_loop" type="xs:int"/>
									<xs:element name="kicesheet_start" type="xs:int"/>
									<xs:element name="kicesheet_multiply" type="xs:int"/>
									<xs:element name="klnd_loop" type="xs:int"/>
									<xs:element name="kchem_loop" type="xs:int"/>
									<xs:element name="lgraphics" type="xs:boolean"/>
									<xs:element name="coastline_file" type="xs:string"/>
									<xs:element name="fixedatmos_file" type="xs:string"/>
									<xs:element name="glimmer_file" type="xs:string"/>
									<xs:element name="flag_fixedatmos" type="xs:boolean"/>
									<xs:element name="flag_ebatmos" type="xs:boolean"/>
									<xs:element name="flag_igcmatmos" type="xs:boolean"/>
									<xs:element name="flag_fixedocean" type="xs:boolean"/>
									<xs:element name="flag_slabocean" type="xs:boolean"/>
									<xs:element name="flag_goldsteinocean" type="xs:boolean"/>
									<xs:element name="flag_fixedseaice" type="xs:boolean"/>
									<xs:element name="flag_slabseaice" type="xs:boolean"/>
									<xs:element name="flag_goldsteinseaice" type="xs:boolean"/>
									<xs:element name="flag_icesheet" type="xs:boolean"/>
									<xs:element name="flag_fixedicesheet" type="xs:boolean"/>
									<xs:element name="flag_land" type="xs:boolean"/>
									<xs:element name="flag_simpleland" type="xs:boolean"/>
									<xs:element name="flag_fixedland" type="xs:boolean"/>
									<xs:element name="flag_fixedchem" type="xs:boolean"/>
									<xs:element name="flag_biogenie" type="xs:boolean"/>
									<xs:element name="flag_biogem" type="xs:boolean"/>
									<xs:element name="flag_atchem" type="xs:boolean"/>
									<xs:element name="flag_sedgem" type="xs:boolean"/>
									<xs:element name="flag_ichem" type="xs:boolean"/>
									<xs:element name="write_flag_atm" type="xs:boolean"/>
									<xs:element name="write_flag_ocn" type="xs:boolean"/>
									<xs:element name="write_flag_sic" type="xs:boolean"/>
									<xs:element name="outputdir_name" type="xs:string"/>
									<xs:element name="dt_write" type="xs:int"/>
									<xs:element name="fname_restart_main" type="xs:string"/>
									<xs:element name="fname_fluxrestart" type="xs:string"/>
									<xs:element name="flag_checkfluxes_sic" type="xs:boolean"/>
									<xs:element name="flag_checkfluxes_ocn" type="xs:boolean"/>
									<xs:element name="flag_checkfluxes_surf" type="xs:boolean"/>
									<xs:element name="flag_checkfluxes_atlantic" type="xs:boolean"/>
									<xs:element name="genie_timestep" type="xs:float"/>
									<xs:element name="lrestart_genie" type="xs:boolean"/>
									<xs:element name="flag_glim_t2m_force" type="xs:boolean"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="genie_seaice">
		<xs:sequence>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="Comment" type="xs:string"/>
			<xs:element name="Parameter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="data_input_dir" type="xs:string"/>
						<xs:element name="data_output_dir" type="xs:string"/>
						<xs:element name="grid" type="xs:int"/>
						<xs:element name="topography_file" type="xs:string"/>
						<xs:element name="npstp_seaice" type="xs:int"/>
						<xs:element name="iwstp" type="xs:int"/>
						<xs:element name="itstp" type="xs:int"/>
						<xs:element name="ianav" type="xs:int"/>
						<xs:element name="conserv_per" type="xs:float"/>
						<xs:element name="restart" type="xs:string"/>
						<xs:element name="NoDaysPerYear" type="xs:float"/>
						<xs:element name="TimestepsPerYear" type="xs:int"/>
						<xs:element name="AOdtRatio" type="xs:float"/>
						<xs:element name="SeaiceDiff" type="xs:float"/>
						<xs:element name="OutputFile" type="xs:string"/>
						<xs:element name="netCDF_restart_input" type="xs:string"/>
						<xs:element name="netCDF_restart_output" type="xs:string"/>
						<xs:element name="ascii_restart_output" type="xs:string"/>
						<xs:element name="netCDF_restart_input_file" type="xs:string"/>
						<xs:element name="netCDF_restart_output_dir" type="xs:string"/>
						<xs:element name="ascii_restart_file" type="xs:string"/>
						<xs:element name="INI_SIC_NML" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="indir_name" type="xs:string"/>
									<xs:element name="outdir_name" type="xs:string"/>
									<xs:element name="igrid" type="xs:int"/>
									<xs:element name="world" type="xs:string"/>
									<xs:element name="npstp" type="xs:int"/>
									<xs:element name="iwstp" type="xs:int"/>
									<xs:element name="itstp" type="xs:int"/>
									<xs:element name="ianav" type="xs:int"/>
									<xs:element name="conserv_per" type="xs:int"/>
									<xs:element name="ans" type="xs:string"/>
									<xs:element name="yearlen" type="xs:float"/>
									<xs:element name="nyear" type="xs:int"/>
									<xs:element name="diffsic" type="xs:float"/>
									<xs:element name="lout" type="xs:string"/>
									<xs:element name="netin" type="xs:string"/>
									<xs:element name="netout" type="xs:string"/>
									<xs:element name="ascout" type="xs:string"/>
									<xs:element name="filenetin" type="xs:string"/>
									<xs:element name="dirnetout" type="xs:string"/>
									<xs:element name="lin" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="genie_sedgem">
		<xs:sequence>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="Comment" type="xs:string"/>
			<xs:element name="Parameter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TopLayerThickness" type="xs:float"/>
						<xs:element name="StackPorosity" type="xs:float"/>
						<xs:element name="TopLayerPorosity" type="xs:float"/>
						<xs:element name="UseCaCO3Explicit" type="xs:boolean"/>
						<xs:element name="UseCaCO3Implicit" type="xs:boolean"/>
						<xs:element name="UseRelaxExplicit" type="xs:boolean"/>
						<xs:element name="UseRelaxMUDS" type="xs:boolean"/>
						<xs:element name="UseOpalExplicit" type="xs:boolean"/>
						<xs:element name="UseOpalImplicit" type="xs:boolean"/>
						<xs:element name="UseBioturbate" type="xs:boolean"/>
						<xs:element name="UseRespirationCaCO3" type="xs:boolean"/>
						<xs:element name="UseFixedDissRatio" type="xs:boolean"/>
						<xs:element name="CO3Frac" type="xs:float"/>
						<xs:element name="FracPOCinSediment" type="xs:float"/>
						<xs:element name="FracPOCDiagenCaCO3" type="xs:float"/>
						<xs:element name="MaxCorgRainFlux" type="xs:float"/>
						<xs:element name="RefractoryFlux" type="xs:float"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="genie_simpleland">
		<xs:sequence>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="Comment" type="xs:string"/>
			<xs:element name="Parameter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="mSimpleLand" type="xs:int"/>
						<xs:element name="Cveg_ini" type="xs:float"/>
						<xs:element name="Csoil_ini" type="xs:float"/>
						<xs:element name="Catm_ini" type="xs:float"/>
						<xs:element name="fv_ini" type="xs:float"/>
						<xs:element name="rmax" type="xs:float"/>
						<xs:element name="timepptn" type="xs:float"/>
						<xs:element name="aero_alb" type="xs:float"/>
						<xs:element name="rhoRef" type="xs:float"/>
						<xs:element name="carbonSwitch" type="xs:boolean"/>
						<xs:element name="orogSwitch" type="xs:boolean"/>
						<xs:element name="pptnSwitch" type="xs:boolean"/>
						<xs:element name="SnowSwitch" type="xs:boolean"/>
						<xs:element name="OfflineSwitch" type="xs:boolean"/>
						<xs:element name="iniq" type="xs:float"/>
						<xs:element name="include_emissions" type="xs:boolean"/>
						<xs:element name="RestartSwitch" type="xs:boolean"/>
						<xs:element name="RestartInput" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="genie_slabocean">
		<xs:sequence>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="Comment" type="xs:string"/>
			<xs:element name="Parameter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SLABOCEAN_CONTROL">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="fname_ocflux" type="xs:string"/>
									<xs:element name="fname_siflux" type="xs:string"/>
									<xs:element name="fname_tempref" type="xs:string"/>
									<xs:element name="fname_restart_slabocean" type="xs:string"/>
									<xs:element name="outputdir_name" type="xs:string"/>
									<xs:element name="dt_restart_slabocean" type="xs:int"/>
									<xs:element name="albedo_ocean" type="xs:float"/>
									<xs:element name="flag_checkenergy_slabocean" type="xs:boolean"/>
									<xs:element name="flag_checkwater_slabocean" type="xs:boolean"/>
									<xs:element name="slab_maker" type="xs:boolean"/>
									<xs:element name="start_slab_av" type="xs:int"/>
									<xs:element name="end_slab_av" type="xs:int"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="genie_slabseaice">
		<xs:sequence>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="Comment" type="xs:string"/>
			<xs:element name="Parameter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SLABSEAICE_CONTROL">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="fname_ocflux" type="xs:string"/>
									<xs:element name="fname_siflux" type="xs:string"/>
									<xs:element name="fname_tempref" type="xs:string"/>
									<xs:element name="fname_restart_slabseaice" type="xs:string"/>
									<xs:element name="outputdir_name" type="xs:string"/>
									<xs:element name="dt_restart_slabseaice" type="xs:int"/>
									<xs:element name="albedo_seaice" type="xs:float"/>
									<xs:element name="tm2" type="xs:float"/>
									<xs:element name="slab_depth" type="xs:float"/>
									<xs:element name="flag_fixedextent" type="xs:boolean"/>
									<xs:element name="flag_checkenergy_slabseaice" type="xs:boolean"/>
									<xs:element name="flag_checkwater_slabseaice" type="xs:boolean"/>
									<xs:element name="slab_maker" type="xs:boolean"/>
									<xs:element name="start_slab_av" type="xs:int"/>
									<xs:element name="end_slab_av" type="xs:int"/>
									<xs:element name="flag_limitfluxes" type="xs:boolean"/>
									<xs:element name="fluxlimit_min" type="xs:float"/>
									<xs:element name="fluxlimit_max" type="xs:float"/>
									<xs:element name="coldstart_slabseaice" type="xs:boolean"/>
									<xs:element name="readflux_slabseaice" type="xs:boolean"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>